################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DFDS/.vs/DFDS/v16
/DFDS/DFDS_WebAPI/obj
/DFDS/DFDS_WebAPI/bin/Debug/net5.0
/DFDS/.vs/DFDS/config
